/* Theme Colors */
main{
    --bg-color: #FFFFFF;
    --text-color: #2A2D31;
    --front-color: #F3F5F7;
    --front-bright-color: #F9FAFB;
    --border-color: #E5E8EA;
    --outline-color: #D1D5D8;
    --accent-color: #1A73E8;
}

main.dark{
    --bg-color: #0F1012;
    --text-color: #CFCFD2;
    --front-color: #131517;
    --front-bright-color: #373B41;
    --border-color: #1A1C1F;
    --outline-color: #2A2D31;
    --accent-color: #1A73E8;
}

/* General */
body{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Form */
input{
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

input:focus{
    outline: 1px solid var(--outline-color);
}