/* Theme Colors */
main{
    --bg-color: #FFFFFF;
    --text-color: #2A2D31;
    --front-color: #F3F5F7;
    --front-bright-color: #F9FAFB;
    --border-color: #E5E8EA;
    --outline-color: #D1D5D8;
    --accent-color: #4274c2;
    --info-color: #CFF4FC;
    --info-border-color: #9EEAF9;
    --info-text-color: #055160;
    --error-color: #F8D7DA;
    --error-border-color: #F1AEB5;
    --error-text-color: #68272F;
    --success-color: #D1E7DD;
    --success-border-color: #A3CFBB;
    --success-text-color: #0A3622;
}

main.dark{
    --bg-color: #0F1012;
    --text-color: #CFCFD2;
    --front-color: #131517;
    --front-bright-color: #373B41;
    --border-color: #1A1C1F;
    --outline-color: #2A2D31;
    --accent-color: #144a9a;
    --info-color: #032830;
    --info-border-color: #087990;
    --info-text-color: #6EDFF6;
    --error-color: #2C0B0E;
    --error-border-color: #842029;
    --error-text-color: #EA868F;
    --success-color: #051B11;
    --success-border-color: #0F5132;
    --success-text-color: #6AA98B;
}

/* General */
body{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Form */
input{
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

input:focus{
    outline: 1px solid var(--outline-color);
}

/* Loading */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0.75rem 1rem;
    font-size:1.2em;

    & .loader{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        border: 3px solid var(--text-color);
        border-bottom-color: transparent;
        margin-right: 10px;
    }
}